@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Open Sans', 'Helvetica Neue', 'Segoe UI',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@layer components {
  .button {
    @apply px-4 py-2 rounded-full bg-[#635fc7] text-white text-lg font-semibold hover:opacity-70 duration-200;
  }
}

.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background:
    linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
  animation: l2 2s infinite steps(10);
}

@keyframes l2 {
  100% {
    background-size: 110%;
  }
}